<% layout('layouts/boilerplate') %>
<main class="blogs">
  <div class="posts-title">
    <p>Posts</p>
    <div><a href="/admin/posts/new">New Post</a></div>
    <div class="page-counter"><%= pageNumber %></div>
  </div>
  <div id="b-posts">
    <% posts.forEach((post) => {%>
    <a class="blog-card" href="/admin/<%= post.id %>">
      <div class="tag-names"></div>
      <h2>
        <!-- style="background-image: url('<%= post.images[0].url %>')" -->
        <%= post.title %>
      </h2>
      <p>
        <% if (post.images[0].url !== "") { %>
        <img src="<%= post.images[0].url %>" alt="image" />
        <% } %> <%= post.text %><br />
      </p>

      <span> Read more here >> </span>
    </a>
    <% }) %>
  </div>
  <div class="first-prev">
    <a
      href="/admin/posts?page=<%= pageNumber > 1 ? parseInt(pageNumber) - 1 : 1 %>"
      >Previous</a
    >
    <a href="/admin/posts">First</a>
  </div>
  <div class="next-last">
    <a href="/admin/posts?page=<%= parseInt(pageNumber)+ 1 %>">Next</a>
    <a href="/admin/posts?page=<%= totalPages %>">Last</a>
  </div>
</main>
<script>
  const jobbLinkek = document.querySelectorAll(".next-last a");
  for (const link of jobbLinkek) {
    link.addEventListener("mouseover", (evt) => {
      evt.target.previousElementSibling.style.marginLeft = "65px";
    });
    link.addEventListener("mouseout", (evt) => {
      evt.target.previousElementSibling.style.marginLeft = "15px";
    });
  }
  const bPosts = document.querySelector("#b-posts");
  const blogCards = document.querySelectorAll(".blog-card");
  let counter = 0;
  while (counter < blogCards.length) {
    const sor = document.createElement("div");
    sor.className = "blogsor";
    sor.appendChild(blogCards[counter]);
    if (counter + 1 != blogCards.length) {
      sor.appendChild(blogCards[counter + 1]);
    }
    if (counter + 2 != blogCards.length) {
      sor.appendChild(blogCards[counter + 2]);
    }
    bPosts.appendChild(sor);
    counter += 3;
  }

  const chrOrder = document.querySelector("#chrorder");
  chrOrder.addEventListener("click", (evt) => {
    console.log("fired");
    if (evt.target.selectedIndex == 1) {
      bPosts.style.flexDirection = "column-reverse";
    } else {
      bPosts.style.flexDirection = "column";
    }
  });
</script>
