<!DOCTYPE html>
<html lang="en" <% if (typeof ogMarkup !== "undefined") {%>prefix="og: http://ogp.me/ns#"<% } %>>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FIDE EDU</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/videoplay.css" />
    <link rel="stylesheet" href="/css/intro.css" />
    <link rel="stylesheet" href="/css/login-signup.css" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/socmed.css" />
    <link rel="stylesheet" href="/css/search.css" />
    <link rel="stylesheet" href="/css/blog.css" />
    <link rel="stylesheet" href="/css/flash.css" />
    <link rel="stylesheet" href="/css/calendar.css" />
    <link rel="stylesheet" href="/css/titleholders.css" />
    <link rel="stylesheet" href="/css/virtual-select.min.css" />
    <link rel="stylesheet" href="/css/new.css" />
    <link rel="stylesheet" href="/css/gallery.css" />
    <link rel="stylesheet" href="/css/profile-logout.css" />
    <link rel="stylesheet" href="/css/featured.css" />
    <link rel="stylesheet" href="/css/admin.css" />
    <link rel="stylesheet" href="/css/download.css" />
    <link rel="stylesheet" href="/css/school-awards.css" />
    <link rel="stylesheet" href="/css/cookies.css" />
    <link rel="stylesheet" href="/css/password-reset.css" />
    <link rel="stylesheet" href="/css/message.css" />
    <link rel="stylesheet" href="/css/quill.snow.css" />
    <link rel="stylesheet" href="/css/tabletstyle.css" />
    <link rel="stylesheet" href="/css/telostyle.css" />
    <link rel="icon" type="image/x-icon" href="/favicon.png" />
    <link
      rel="stylesheet"
      href="https://uicdn.toast.com/calendar/latest/toastui-calendar.min.css"
    />
    <meta
      http-equiv="Cache-Control"
      content="no-cache, no-store, must-revalidate"
    />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <meta http-equiv="cache-control" content="max-age=0" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="-1" />
    <meta http-equiv="expires" content="Tue, 01 Jan 1980 11:00:00 GMT" />
    <meta http-equiv="pragma" content="no-cache" />
    <% if (typeof ogMarkup !== "undefined") {%><meta
      property="og:url"
      content="<%= ogMarkup.url %>"
    />
    <meta property="og:type" content="<%= ogMarkup.type %>" />
    <meta property="og:title" content="<%= ogMarkup.title %>" />
    <meta
      property="og:description"
      content="<%= ogMarkup.description %>"
    />
    <meta
      property="og:image"
      content="<%= ogMarkup.image %>"
    />
    <meta property="og:image:type" content="image/jpeg" />
    <meta property="og:locale" content="en_GB" />
    <meta property="og:site_name" content="FIDE EDU" /><% } %>
  </head>
  <body <% if (typeof index !== "undefined") {%>style="background-color: #ccd6f1;"<% } %>>
    <%- include("../partials/flash") %> <%- include('../partials/navbar') %> <%
    if (!currentUser) {%> <%- include('../partials/login-signup')%> <%} else {%>
    <%-include("../partials/profile-logout")%> <%} %> <%-
    include('../partials/googletranslate') %> <%- body %> <% if
    (!cookiesAccepted) {%> <%- include("../partials/cookies") %> <%} %>
  </body>
  <script src="/js/flash.js"></script>
  <script src="/js/boilerplate.js"></script>
</html>
