<% layout('layouts/boilerplate') %>
<main class="gallery-page">
  <div class="layout">
    <div class="title">Gallery</div>
    <div class="image-gallery">
      <% for (let i = 0; i < galleryUrls.length; i++) {%>
      <div class="image-container">
        <img class="image" id="img-<%= i %>" src="<%= galleryUrls[i] %>" />
        <div class="overlay"></div>
      </div>
      <% } %>
    </div>
  </div>
  <div class="first-prev">
    <a href="/gallery?page=<%= pageNumber > 1 ? parseInt(pageNumber) - 1 : 1 %>"
      >Previous</a
    >
    <a href="/gallery">First</a>
  </div>
  <div class="next-last">
    <a href="/gallery?page=<%= parseInt(pageNumber)+ 1 %>">Next</a>
    <a href="/gallery?page=<%= totalPages %>">Last</a>
  </div>
  <div id="modal-holder"></div>
</main>

<script src="/js/gallery.js"></script>
<script>
  document
    .querySelector(".next-last a:nth-of-type(2)")
    .addEventListener("mouseover", (evt) => {
      evt.target.previousElementSibling.style.marginLeft = "65px";
    });
  document
    .querySelector(".next-last a:nth-of-type(2)")
    .addEventListener("mouseout", (evt) => {
      evt.target.previousElementSibling.style.marginLeft = "15px";
    });
</script>
