<% layout('layouts/boilerplate') %>
<main class="intro">
  <h3>
    <%= currentUser.firstName + " " + currentUser.lastName + "'s Profile Page"
    %>
  </h3>
  <p>Email: <span><%= currentUser.email %></span></p>
  <p>Workplace: <span><%= currentUser.workplace %></span></p>
  <p>Job Title: <span><%= currentUser.jobtitle %></span></p>
  <p>Country of Residence: <span><%= currentUser.countryResidence %></span></p>
  <p>Responsibilities in Chess and Education:</p>
  <p><%= currentUser.respCie %></p>
</main>
