<% layout('layouts/boilerplate') %>
<main class="search">
  <div class="search-posts-container">
    <p>Search Results:</p>
    <div class="search-results">
      <div class="search-filters">
        <p>Search Filters:</p>
        <ul>
          <li>Tag</li>
          <li>
            <div id="tag-filter"></div>
          </li>
          <li>Country</li>
          <li>
            <div id="country-filter"></div>
          </li>
          <li>Year</li>
          <li>
            <div id="year-filter"></div>
          </li>
        </ul>
      </div>
      <% blogPosts.forEach((blog) => {%>
      <a class="result-card" href="/blog/<%= blog.id %>">
        <div class="tag-names"><%= blog.tags %></div>
        <h2><%= blog.title %></h2>
        <p>
          <% if (blog.images[0].url !== "") { %>
          <img src="<%= blog.images[0].url %>" alt="image" />
          <% } %> <%= blog.text %><br />
        </p>
        <div class="year-tag"><%= blog.date.getFullYear() %></div>
      </a>
      <% }) %>
    </div>
  </div>
</main>
<script src="/js/virtual-select.min.js"></script>
<script src="/js/search.js"></script>
