<% layout('layouts/boilerplate') %>
<main class="blogs">
  <div class="posts-title">
    <p><%= tagName %></p>
  </div>
  <div id="b-posts">
    <% blogposts.forEach((blog) => {%>
    <a class="blog-card" href="/<%= path %>/<%= blog.id %>">
      <div class="tag-names"></div>
      <h2><%= blog.title %></h2>
      <% if (blog.images[0].url !== "") { %>
      <div class="img-container">
        <img src="<%= blog.images[0].url %>" alt="image" />
      </div>
      <% } %>
      <p><%= blog.text %></p>

      <span> Read more here >> </span>
    </a>
    <% }) %>
  </div>
  <% if (blogposts.length > 11) {%>
  <button id="load-more">Load More</button>
  <% } %>
</main>
<script>
  const tagNameString = document.querySelector(".posts-title p").innerText;
  let correctTagName = tagNameString.split(/(?=[A-Z])/).join(" ");
  if (correctTagName.slice(0, 3) == "cie") {
    correctTagName =
      correctTagName.slice(0, 3).toUpperCase() + correctTagName.slice(3);
  } else {
    correctTagName = correctTagName[0].toUpperCase() + correctTagName.slice(1);
  }

  document.querySelector(".posts-title p").innerText = correctTagName;

  const bPosts = document.querySelector("#b-posts");
  const blogCards = document.querySelectorAll(".blog-card");
  let counter = 0;
  while (counter < blogCards.length) {
    if (counter < 2) {
      const sor = document.createElement("div");
      sor.className = "blogsor";
      sor.appendChild(blogCards[counter]);
      if (counter + 1 != blogCards.length) {
        sor.appendChild(blogCards[counter + 1]);
      }
      bPosts.appendChild(sor);
      counter += 2;
    } else {
      const sor = document.createElement("div");
      sor.className = "blogsor";
      sor.appendChild(blogCards[counter]);
      if (counter + 1 < blogCards.length) {
        sor.appendChild(blogCards[counter + 1]);
      }
      if (counter + 2 < blogCards.length) {
        sor.appendChild(blogCards[counter + 2]);
      }
      bPosts.appendChild(sor);
      counter += 3;
    }
  }
</script>
<script src="/js/loadMorePosts.js"></script>
