<% layout('layouts/boilerplate') %>
<main class="blogs">
  <div class="posts-title">
    <p>Blogposts</p>
    <div class="page-counter"><%= pageNumber %></div>
  </div>
  <div id="b-posts">
    <% blogposts.forEach((blog) => {%>
    <a class="blog-card" href="/blog/<%= blog.id %>">
      <div class="tag-names"></div>
      <h2><%= blog.title %></h2>
      <p>
        <% if (blog.images[0].url !== "") { %>
        <img src="<%= blog.images[0].url %>" alt="image" />
        <% } %> <%= blog.text %><br />
      </p>

      <span> Read more here >> </span>
    </a>
    <% }) %>
  </div>
  <div class="first-prev">
    <a href="/blog?page=<%= pageNumber > 1 ? parseInt(pageNumber) - 1 : 1 %>"
      >Previous</a
    >
    <a href="/blog">First</a>
  </div>
  <div class="next-last">
    <a href="/blog?page=<%= parseInt(pageNumber)+ 1 %>">Next</a>
    <a href="/blog?page=<%= totalPages %>">Last</a>
  </div>
</main>
<script>
  const bPosts = document.querySelector("#b-posts");
  const blogCards = document.querySelectorAll(".blog-card");
  let counter = 0;
  while (counter < blogCards.length) {
    if (counter < 2) {
      const sor = document.createElement("div");
      sor.className = "blogsor";
      sor.appendChild(blogCards[counter]);
      if (counter + 1 != blogCards.length) {
        sor.appendChild(blogCards[counter + 1]);
      }
      bPosts.appendChild(sor);
      counter += 2;
    } else {
      const sor = document.createElement("div");
      sor.className = "blogsor";
      sor.appendChild(blogCards[counter]);
      if (counter + 1 != blogCards.length) {
        sor.appendChild(blogCards[counter + 1]);
      }
      if (counter + 2 != blogCards.length) {
        sor.appendChild(blogCards[counter + 2]);
      }
      bPosts.appendChild(sor);
      counter += 3;
    }
  }
</script>
