<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      .applicant-base-info {
        margin: auto;
        max-width: 750px;
        width: 100%;
        margin-bottom: 10px;
      }

      .applicant {
        max-width: 750px;
        margin: auto;
      }

      .applicant-base-info th {
        vertical-align: middle;
        text-align: left;
        padding: 10px;
        font-weight: 600;
        background-color: rgb(231, 231, 231);
        border: white solid;
        border-width: 1px 0px;
      }

      .applicant-base-info tr:first-child th {
        border-top: 0px;
      }

      .applicant-base-info tr:last-child th {
        border-bottom: 0px;
      }

      .applicant-base-info tr:first-child td {
        border-top: 0px;
      }

      .applicant-base-info tr:last-child td {
        border-bottom: 0px;
      }

      .applicant-base-info td {
        padding: 10px;
        border: #e7e7e7 solid;
        border-width: 1px 0px;
      }

      .applicant-header {
        font-weight: bold;
        font-size: large;
        margin: 20px 0px;
        display: flex;
        justify-content: space-between;
        height: 25px;
        align-items: center;
      }

      .applicant-header span {
        height: min-content;
      }

      .applicant-header svg {
        margin-right: 10px;
      }

      .long-answer {
        margin: 5px 0px;
        text-align: justify;
        font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
          "Lucida Sans", Arial, sans-serif;
      }

      .applicant-answer {
        color: rgb(66, 66, 66);
      }

      .long-answer-question {
        font-weight: 600;
        margin: 10px 0px;
      }
      table {
        border-collapse: collapse;
        border-spacing: 0;
      }

      h2 {
        text-align: center;
      }
    </style>
  </head>
  <body>
    <main>
      <h2>New FIDE School Awards application!</h2>
      <div class="applicant">
        <div class="applicant-information">
          <div class="applicant-header">
            <span> <%= applicant.fullName %>, <%= applicant.schoolId %></span>
          </div>
          <table class="applicant-base-info">
            <tbody>
              <tr>
                <th scope="row">E-mail:</th>
                <td><%= applicant.email %></td>
              </tr>
              <tr>
                <th scope="row">Full name</th>
                <td><%= applicant.fullName %></td>
              </tr>
              <tr>
                <th scope="row">Main contact?</th>
                <td><%= applicant.areYouMainContact %></td>
              </tr>
              <tr>
                <th scope="row">Name of main Contact Person:</th>
                <td><%= applicant.mainContactName %></td>
              </tr>
              <tr>
                <th scope="row">Email of main Contact Person:</th>
                <td><%= applicant.mainContactEmail %></td>
              </tr>
              <tr>
                <th scope="row">Name of School:</th>
                <td><%= applicant.nameOfSchool %></td>
              </tr>
              <tr>
                <th scope="row">Other school details:</th>
                <td><%- applicant.otherSchoolDetails %></td>
              </tr>
              <tr>
                <th scope="row">Type of school</th>
                <td><%= applicant.typeOfSchool %></td>
              </tr>
              <tr>
                <th scope="row">ID</th>
                <td><%= applicant.schoolId %></td>
              </tr>
              <tr>
                <th scope="row">Date</th>
                <td><%= applicant.date.toISOString().split("T")[0] %></td>
              </tr>
            </tbody>
          </table>
          <div class="long-answers">
            <div class="long-answer">
              <div class="long-answer-question">
                1. Facilities<br />Describe the facilities that enable chess
                instruction in your school.
              </div>
              <div class="applicant-answer"><%-applicant.facilities%></div>
            </div>
            <div class="long-answer">
              <div class="long-answer-question">
                2. Student involvement<br />Provide details about student
                involvement in chess activities.
              </div>
              <div class="applicant-answer">
                <%-applicant.studentInvolvment%>
              </div>
            </div>
            <div class="long-answer">
              <div class="long-answer-question">
                3. Teaching materials<br />Explain what is taught in the chess
                classes and what materials are used.
              </div>
              <div class="applicant-answer">
                <%-applicant.teachingMaterials%>
              </div>
            </div>
            <div class="long-answer">
              <div class="long-answer-question">
                4. Chess events<br />What chess events are organized in your
                school?
              </div>
              <div class="applicant-answer"><%-applicant.chessEvents%></div>
            </div>
            <div class="long-answer">
              <div class="long-answer-question">
                5. Chess educators<br />Who teaches chess and what are their
                qualifications in education and in chess?
              </div>
              <div class="applicant-answer"><%-applicant.chessEducators%></div>
            </div>
            <div class="long-answer">
              <div class="long-answer-question">
                6. Representation of school chess<br />How visible is chess in
                your school and in the wider community?
              </div>
              <div class="applicant-answer">
                <%-applicant.representationOfSchoolChess%>
              </div>
            </div>
            <div class="long-answer">
              <div class="long-answer-question">
                7. Social commitment<br />How inclusive and socially committed
                is your school chess?
              </div>
              <div class="applicant-answer">
                <%-applicant.socialCommitment%>
              </div>
            </div>
            <div class="long-answer">
              <div class="long-answer-question">
                8. Chess as an educational tool<br />How is chess integrated
                into the school curriculum?
              </div>
              <div class="applicant-answer">
                <%-applicant.chessAsAnEducationalTool%>
              </div>
            </div>
            <div class="long-answer">
              <div class="long-answer-question">
                9. Financing school chess<br />Explain how your school chess
                program is financed.
              </div>
              <div class="applicant-answer">
                <%-applicant.financingSchoolChess%>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
